<button
  type="button"
  data-popoca-cart-toggle
  class="fixed top-20 right-0 z-40 flex items-center gap-2 rounded-l-full bg-white shadow-lg p-3 group"
>
    <span class="inline-flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 md:size-8 group-hover:stroke-orange-600">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
        </svg>
    </span>

    <span
        data-popoca-cart-count
        class="min-w-5 min-h-5 md:min-w-6 md:h-6 flex items-center justify-center rounded-full bg-orange-600 border-2 border-white text-white text-xs font-bold absolute right-1 top-2"
    >
        {{ cart.item_count | default: 0 }}
    </span>
</button>