
<section>
    {% for block in section.blocks %}
        {% content_for 'blocks' %}
    {% endfor %}
</section>


{% schema %}
{
    "name": "Popular-Products",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
        }
    ],
    "blocks": [
        {
            "type": "@theme"
        }
    ],
    "presets": [
        {
            "name": "Popular-Products",
            "settings": {
                "heading": "Popular Products",
                "subheading": "Shop our most popular products!"
            }
        }
    ]
}

{% endschema %}